<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ site.name }} {% block title %}{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no" />
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="shortcut icon" href="/static/images/favicon.ico" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />  
        <meta name="author" content="Kevin Renskers" />
        <meta name="keywords" content="swift, objective-c, django, python, iPhone, iPad, iOS, macOS, Apple, development, usability, design, css, html5, javascript">
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.feed }}" />
        {% block extraheader %}{% endblock %}
    </head>

    <body>
        <a href="#maincontent" class="skiplink">Skip navigation</a>

        <header>
          <div>
            <h1>&lt;mixedCase&gt;</h1>
          </div>
        </header>

        <nav>
            <ul>
                {% set active_page = active_page|default('Articles') -%}
                {% for item in theme.navigation %}
                    <li>
                        <a href="{{ item.link }}"{% if active_page == item.title %} class="active"{% endif %}>{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>

        <a name="maincontent" id="maincontent"></a>
        <div id="content">
            {% block main %}{% endblock %}
        </div>

        <footer>
            <hr/>
            <ul>
                <li><a href="/articles/">articles</a></li>
                <li><a href="/about/">contact</a></li>
                <li><a href="https://twitter.com/mixedcase">twitter</a></li>
                <li><a href="{{ site.feed }}">RSS</a></li>
                <li>&copy; 2010-{{ site.date.year }} Kevin Renskers</li>
            </ul>
        </footer>
    </body>
</html>
