{% extends "base.html" %}
{% set active_page = post.menu %}

{% block title %}{{ post.title }}{% endblock %}

{% block main %}
    <article>
        {{ post.content }}
    </article>
{% endblock %}

{% block aside %}
    <h2>contact</h2>
    <p>You can <a href="mailto:%6b%65%76%69&#110;&#64;mi&#120;%65dc&#97;se.%6el">email me</a> with questions, comments and suggestions. You can also follow me on <a href="httpss://twitter.com/mixedcase">Twitter</a>.</p>
    <p>If you would like to connect professionally, you can find me on <a href="https://www.linkedin.com/in/kevinrenskers">LinkedIn</a> and <a href="https://about.me/kevinrenskers">about.me</a>. If you want to hire me, check out my freelance company <a href="https://loopwerk.io">Loopwerk</a> where I make web- and mobile apps.</p>
    <p>My open source projects are hosted on <a href="https://github.com/kevinrenskers">GitHub</a>.</p>
{% endblock %}
