{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block extraheader %}
    <link rel="canonical" href="{{ post|permalink }}" />
    <meta name="description" content="{% if post.description_source %} {{ post.description_source|striptags }} {% else %} {{ post.content|striptags|truncate }} {% endif %}" />
{% endblock %}

{% block main %}
    {% set wordcount = post.content|striptags|wordcount %}

    <article itemscope itemtype="{% if post.review %}http://schema.org/Review{% else %}http://schema.org/BlogPosting{% endif %}">
        <meta itemprop="author" content="{{ post.author.name }}" />

        {% if post.review %}
            <meta itemprop="itemReviewed" content="{{ post.review }}" />
            <meta itemprop="reviewRating" content="{{ post.rating }}" />
        {% else %}
            <meta itemprop="wordCount" content="{{ wordcount }}" />
        {% endif %}

        <h1 itemprop="headline">{{ post.title }}</h1>

        <time datetime="{{ post.date|xmldatetime }}"{% if post.review %} itemprop="datePublished"{% endif %} pubdate>
            <span class="month">{{ post.date.strftime('%b') }}</span>
            <span class="month_long">{{ post.date.strftime('%B') }}</span>
            <span class="day">{{ post.date.strftime('%d') }}</span><span class="comma">,</span>
            <span class="year">{{ post.date.strftime('%Y') }}</span>
        </time>

        <span class="article_info">{{ wordcount }} words, by {{ post.author.name }}</span>

        <div class="article_content" itemprop="{% if post.review %}reviewBody{% else %}articleBody{% endif %}">
            {{ post.content }}
        </div>
    </article>

    <div id="article_footer">
        <p>Have feedback? Let me know on <a href="https://twitter.com/mixedCase">Twitter</a>.</p>
    </div>
{% endblock %}

{% block aside %}
    <ul>
        {% for year, posts in resource.year.iteritems()|sort|reverse %}
        <li>
            <a href="{{ content_url(site.prefix, year, 'index.html') }}"{% if year == post.date.year %} class="active"{% endif %}>
                {{ year }}
                <span>{{ posts|length }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>

    <ul>
        {% for tag, posts in resource.tag.iteritems()|sort %}
            <li>
                <a href="{{ tag|tag_url }}"{% if tag in post.tags %} class="active"{% endif %}>
                    {{ tag }}
                    <span>{{ posts|length }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
