{% extends "base.html" %}
{% set active_page = "Home" %}

{% block cover %}
    <div id="cover" xmlns="http://www.w3.org/1999/html">
        <img src="/static/images/wallpaper.jpg" alt="" />
    </div>
{% endblock %}

{% block main %}
    {% for item in resource.posts[:4] %}
        <section>
            <h1><a href="{{item|permalink}}">{{ item.title }}</a></h1>
            <time datetime="{{item.date|xmldatetime}}" pubdate><span class="month">{{ item.date.strftime('%b') }}</span><span class="month_long">{{ item.date.strftime('%B') }}</span> <span class="day">{{ item.date.strftime('%d') }}</span><span class="comma">,</span> <span class="year">{{ item.date.strftime('%Y') }}</span></time><span class="word_count">{{ item.content|wordcount }} words</span>
            <p>{{ item.content|striptags|truncate }}</p>
            <p><a href="{{ item|permalink }}" class="more">read more</a></p>
        </section>
    {% endfor %}
        
    <div>
        <p><a href="/articles/" class="more">archive</a></p>
    </div>
{% endblock %}

{% block aside %}
    {{ post.content }}
{% endblock %}
