{% extends "base.html" %}
{% set active_page = "dmmjobcontrol" %}
{% set active_subpage = post.submenu %}

{% block title %}JobControl: {{ post.title }}{% endblock %}

{% block main %}
    <article>
        {{ post.content }}
    </article>
{% endblock %}

{% block aside %}
    <h1>JobControl documentation</h1>
    <ul>
        {% for item in theme.dmmjobcontrol_pages %}
        <li>
            <a href="{{ item.link }}"{% if post.submenu == item.link %} class="active"{% endif %}>{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
