{% extends "archive.html" %}

{% block title %}Articles posted in "{{ pagination.title }}" (page {{ pagination.page }} of {{ pagination.pages }}){% endblock %}

{% block aside %}
    {% if pagination.has_prev or pagination.has_next %}
        <ul>
            {% if pagination.has_prev %}
                <li><a href="{{ content_url(pagination.root, 'page', pagination.prev_num) }}">Newer</a></li>
            {% endif %}
            {% if pagination.has_next %}
                <li><a href="{{ content_url(pagination.root, 'page', pagination.next_num) }}">Older</a></li>
            {% endif %}
        </ul>
    {% endif %}

    <ul>
        {% for year, posts in resource.year.iteritems()|reverse %}
            <li>
                <a href="{{ content_url(pagination.root, year, 'index.html') }}">
                    {{ year }}
                    <span>{{ posts|length }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>

    <ul>
        {% for tag, posts in resource.tag.iteritems()|sort %}
            <li>
                <a href="{{ tag|tag_url }}"{% if tag == pagination.title %} class="active"{% endif %}>
                    {{ tag }}
                    <span>{{ posts|length }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
